@font-face 
	{
 		font-family: "Futura-Normal";
 		src: url("../font/futura-normal.ttf") format("ttf"),
	}
@font-face {
font-family: 'ViceCity';
src: url('../font/ViceCitySans.otf');
}
a
	{
		text-decoration: none;
		color: #510c53;
	}

body
	{
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		top: 0px;
	}

.homebackground
	{
		height: 100%;
		width: 100%;
		background-image: url('../img/homebackgroung.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
		position: relative;

	}

.homemask
	{
		height: 100%;
		width: 100%;
		background-color: rgba(81, 12, 83, 0.3);
		z-index: 2;
		position: relative;
	}

.hometitle
	{
		padding-left: 5%;
		padding-right: 2%;
		padding-bottom: 1%;
		padding-top: 10%;
		font-family: 'ViceCity';
		font-size: 2.3em;
		color: white;
		text-align: left;
	}

.homelink
	{
		padding-left: 5%;
		padding-right: 2%;
		padding-bottom: 5%;
		padding-top: 5%;
		font-family: 'Futura-Normal', sans-serif;
		font-size: 2em;
		color: white;
		text-align: left;
	}

.homefooter
	{
		float: bottom;
		background-color: white;
		height: 10%;
		position: absolute;
		bottom : 0;
		width: inherit;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

.homefooterimg
	{
		width: 30%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

.logouc
	{
		margin-left: 1vh;
		max-width: 80%;
		max-height: 80%;
	}

.homementions
	{
		font-family: 'Futura-Bold', sans-serif;
		font-size: 1em;
		color: #510c53;
		margin-right: 1vh;
		text-align: right;

	}

.homeversion
	{
		text-align: right;
		font-family: 'Futura-Normal', sans-serif;
		color: #510c53;
	}